.topnav {
    font-family: 'Covered By Your Grace', cursive;
    background-color: darkslategray
}

.topnav a {
    float: right;
    text-align: centre;
    color: black;
    padding: 14px 16px;
    font-size: 17px;
}

.topnav a:hover {
    background-color: yellow;
    color: black;
}

img {
    width: 2000px;
    height: 1000px;
    object-fit: cover;
}